@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: Roboto, sans-serif;
}

#calculator {
	max-width: 320px;
	margin: 0 auto;
}

#display {
	height: 80px;
	display: flex;
	justify-content: end;
	align-items: end;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 8px;
	padding: 6px 12px;
}

#input {
	font-size: 28px;
	display: flex;
	align-items: center;
	flex: 1;
}

#memory {
	font-size: 18px;
	display: flex;
	align-items: end;
	flex: 1;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 8px;
}

button {
	height: 40px;
	flex: 1 0 60px;
	font-size: 16px;
	border-radius: 8px;
}

#clear-button,
#backspace-button {
	flex: 1 0 45%;
}
